<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav>
  <div class="nav-right">
    <h1><a href="/">Mane Memo</a></h1>
  </div>
  <div class="nav-left">
    <% if(user) { %>
      <a href="/users/<%= user._id %>/hairlogs" class="button secondary">Hair Logs</a>
      <a href="/auth/sign-out" class="button primary">Log Out</a>
      <% } else { %>
      <a href="/auth/sign-in" class="button secondary">Login</a>
      <a href="/auth/sign-up" class="button primary">Sign Up</a>
      <% } %>
  </div>
</nav>