<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>Mane Memo</title>
  </head>
  <body>
    <section class="hero">
      <div class="hero-content">
        <h1>Mane Memo</h1>
        <p>Your personal Hair Journal App, that helps you keep track of your hair treatment routines.</p>
        <div class="button-group">
          <a href="/auth/sign-up" class="button primary">Sign Up</a>
          <a href="/auth/sign-in" class="button secondary">Sign In</a>
        </div>
      </div>

      <div class="hero-image">
        <img src="/images/home-hero-img.jpg" alt="Healthy Hair">
      </div>
    </section>


  </body>
</html>
