@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'HarlowDuo';
    src: url('/fonts/HarlowDuoSerifPlain-Regular.ttf') format('truetype');
}

h1 {
    font-family: 'HarlowDuo', serif;
    font-size: 70px;
    font-weight: normal;
}

p {
    font-family: "Questrial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}


/* ------   AUTH, SIGN-UP SIGN-IN -------  */

body {
    background: #f9f5f2;
}

.login {
    margin: 70px auto 20px;
    padding: 40px 50px;
    max-width: 450px;
    height: 587px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 1px 1px;
}

.login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #c0c0c0;
    font-family: "Questrial", sans-serif;
    letter-spacing: 1px;
}

.login h2 {
    font-family: 'HarlowDuo', serif;
    font-weight: normal;
    font-size: 35px;
    text-decoration: none;
    color: #282828;
    align-items: center;
}


.login label {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #282828;
}


form button {
    width: 100%;
    height: 48px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Questrial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #282828;
    color: white;
    margin-top: 10px;
}


/* ------   HAIRLOGS -------  */

i {
    font-size: 16px;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    line-height: 1; 
    vertical-align: middle; 
}

.hairlog-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    /* justify-content: center;
    align-items: center;
    width: 100%; */
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.2s ease-in-out;
    border: 1px solid #282828;
}

.card:hover {
    transform: translateY(-3px); 
}

.card-content {
    text-decoration: none;
    /* color: inherit; */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hairlog-date {
    font-size: 14px;
    color: #3d3d3d;
    font-family: "Questrial", sans-serif;
}

.hairlog-title {
    font-size: 18px;
    font-family: "Questrial", sans-serif;
}

.hairlog-notes {
    font-size: 16px;
    color: #3d3d3d;
    font-family: "Questrial", sans-serif;
}


.hairlog-header {
    padding: 16px; 
    margin-bottom: 16px;
    text-align: center; 
}

.hairlog-header h2 {
    margin-bottom: 8px;
    font-size: 48px;
    font-family: 'HarlowDuo', serif;
}

.hairlog-header p.current-date {
    font-size: 16px;
    color:  #282828;
    font-family: "Questrial", sans-serif;
}

.hairlog-header h3 {
    font-size: 30px;
    font-family: "Questrial", sans-serif;
    font-weight: normal;
}


/* ENTRY TAG */

.entry-tag {
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-family: "Questrial", sans-serif;
    width: 100px;
    text-align: center;
}


.entry-tag.log { 
    background: #B1BDCC; 
    color: #282828; 
}  

.entry-tag.recipe { 
    background: #CABAB7; 
    color: #282828; 
}   

.entry-tag.product { 
    background: #BA8569; 
    color: #282828; 
}  
